<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1" style="background-color: #447e9b" align="center">
    <tr>
        <th>EID</th>
        <th>Ename</th>
        <th>Eaddress</th>
        <th>Salary</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>{{ EID }}</td>
        <td>{{ Ename | upper }}</td>
        <td>{{ Eaddress }}</td>
        <td>{{ Salary }}</td>
        <td>{{ age }}</td>
    </tr>
</table>
<!--<h1 style="color: #006b1b">The result is : {{ details }} </h1>--> {#not for table #}
</body>
</html>