<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>  Hey!!!   </title>
    <link href="sample.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <style>
        #p{color: #006b1b; font-family: "Roboto"; }
        h1{color: #006b1b; font-family: Algerian}
    </style>

</head>
<body style="background-color: #609ab6">
<div>
   <form>
       <table>
           <tr>
               Num1:<input type="text" name="num1">
           </tr>
           <tr>
               Num2:<input type="text" name="num2">
           </tr>
           <input type="submit" value="ADD">
       </table>
</form>
</div>

<!--<h1 style="color: #4ac1f7">Name is :{{ name }}</h1>-->
<!---comments here--->
<h1>"This is home page"</h1>
<p class="center">HI welcome to my page</p>
<p id="para1">This is my dsoft test page</p>

<!--<p style="color:red;font-size: 30px;">This is test</p>-->

<a href="index12.html">click here for math solution</a>
<br>
<a href="index.html">click here to go index page</a><br><br>

<a href="https://flipkart.com">Flipkart</a><br>

<!--<img src="signature.png" alt="no image" > -->

<marquee>Welcome to My page</marquee>
<marquee>Welcome to My page:<a href="https://flipkart.com">Flipkart</a></marquee>

<p>My name is <sub>Abinash</sub></p>
<!-- <P>My name is<sup>Abinash</sup></P>
<P>My name is<big>Abinash</big></P>
<P style="color: #4ac1f7">My name is<del>Abinash</del></P>
<P>My name is<del>Abinash</del><ins>ram</ins></P> -->


<form action="index.html">
   <!-- <input type="Submit" name="logbtwn" value="Login">
    <input type="text" name="name" placeholder="Hello abinash">
    <p>Enter name</p>
    <input type="text" name="username" placeholder="Enter username">
<br><br> -->
    <label for="name">Enter name:</label>
    <input type="text" id="username" placeholder="Enter username" required><br>
    <label for="password">Enter password</label>
    <input type="text" id="password", placeholder="Enter password" required><br>
    <input type="submit" value="submit">

</form>

<ol type="1">
    <li> python</li>
    <ul>
        <li>core python</li>
    </ul>
    <li> django</li>
    <li> flask</li>
</ol>


<table border="1">
    <thead>
    <th>Eid</th>
    <th>Ename</th>
    <th>ph</th>
    <th>Images</th>
    </thead>
    <tr>
        <td>101</td>
        <td>dsa</td>
        <td>1234567890</td>
        <td><img src="signature.png"></td>
    </tr>

        <tr>
        <td>102</td>
        <td>dsas</td>
        <td>1234567890</td>
            <td><img src="Data%20Science.jpeg"></td>
    </tr>

        <tr>
        <td>103</td>
        <td>dsafd</td>
        <td>1234567890</td>
            <td><img src="download.jpg"></td>
    </tr>

        <tr>
        <td>104</td>
        <td>dsazv</td>
        <td>1234567890</td>
    </tr>

        <tr>
        <td>105</td>
        <td>dsaafvas</td>
        <td>1234567890</td>
    </tr>
</table>

</body>
</html>