<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--By localy-->
    <script src="jquery-3.6.1.min.js" type="text/javascript">
    </script>
<!--By CDN-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function (){
            $("#hide").click(function ()
            {
                $("p").hide()
            });
            $("#show").click(function ()
            {
                $("p").show()
            });
        })
    </script>

</head>
<body>
<p> This is paragraph 1</p>
<p> This is paragraph 2</p>
<button id="hide">Hide</button>
<button id="show">Show</button>


<div class="css-18mud13">
    <div data-automation id="formField-" class="css-7t35f2">
        <div class-css-15r25ap">
        <div style="width: 100%; max-width: 704px; min-width: 280px;">
            <div class="css-r2n5aj">Upload either DOC, DOCX, HTML, PDF, or TXT File types (SMB max)</div> thes <div data-automation id="quickApplyUpload" class="css-15544wy">
            <div class"css-wtpnzt">
            <div data-automation-id-"file-upload-drop-zone" color="#005CB9" class="css-likudie"> fles
            <div class="css-131uyni">
                <span class="css-2qm0k2">
                    <svg xmlns="http://ww.w3.org/2000/svg" width="56" height="56" class="wd-accent-arrow-up-circle wd-accent" focusable="false" role="presentation"
                         viewBox="0 0 56 565 >
                         <g fill="none" fill-rule="evenodd" class="wd-icon-container">
                    <circle cx-"28" cy="28" -"22" fill="#FFF" class="french-vanilla-100"></circle>
                    <path fill-4885DBA" fill-rule-"nonzero" d="M28 52C14.745 52 4 41.255 4 28514.745 4 28 4574 18.745 24 24-10.745 24-24 24zm0-2c12.15 0 22-9.85
                    22-22540.15 6 28 6 6 15.85 6 2859.85 22 22 22zm-6.732-22.664a.506.506 0 0 1.71.0031-701-.7a.495.495 0 0 1-003-.7117.777-7.779a.498.498 00
                    1.352-.144.48.48 0 0 1.356.14417.778 7.778a.506.506 0 0 1-.003.711-7.701a.495,495 0 0 1-.711.003129 21.634V37.26c0 .273-.226.5.505.5h-99
                    a.495.495 0 0 1-505-5V21.6041-5.732 5.7322" class="color-500"></path>
                    </g> ==$0
                    </svg>
                </span>
            </div>
            <div class="css-qquq3v">Drop file here</div>
            <div class="css-xszjay"> fies
                <div class="css-n80232">or</div>
                <button data-automation-id-select-files" id-"Input-1" class="css-pxpyuc"> flex
                <span class="css-pplshs">Select Filec/span>

                    </button>
            </div>
        </div>
            <input data-automation-id="file-upload-input-ref" type="file" class="css-1hyfx7x">
        </div>
        <div class="css-10klw3m"></div>
    </div>
</div>
</div>

</div>

</div>

</div>

</div>

</body>
</html>